# created by virtualenv automatically
.venv
.idea
faculty/migrations/__pycache__
db.sqlite3
faculty/migrations
faculty/__pycache__
djangoProject1/__pycache__
*/__pycache__
users/migrations/__pycache__
users/migrations/0*
users/__pycache__