<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>All Homeworks</title>
</head>
<body>
    {% if classrooms %}
        <h2>Submitted Homeworks</h2>
        {% if submitted_homeworks %}
            <ul>
                {% for homework in submitted_homeworks %}
                    <li>
                        <a href="{% url 'faculty:homework_detail' classroom_id=homework.classroom.id homework_id=homework.id %}">
                            {{ homework.title }} ({{ homework.classroom.subject }})
                        </a>
                        <br>
                        Due Date: {{ homework.homework.due_date }}
                    </li>
                {% endfor %}
            </ul>
        {% else %}
            <p>No submitted homeworks found.</p>
        {% endif %}

        <h2>Unsubmitted Homeworks</h2>
        {% if unsubmitted_homeworks %}
            <ul>
                {% for homework in unsubmitted_homeworks %}
                    <li>
                        <a href="{% url 'faculty:homework_detail' classroom_id=homework.classroom.id homework_id=homework.id %}">
                            {{ homework.title }} ({{ homework.classroom.subject }})
                        </a>
                        <br>
                        Due Date: {{ homework.due_date }}
                    </li>
                {% endfor %}
            </ul>
        {% else %}
            <p>No unsubmitted homeworks found.</p>
        {% endif %}
    {% endif %}
</body>
</html>