{% extends "faculty/base.html" %}

{% block title %}Home{% endblock %}

{% block content %}
  <div class="buttons">
    <a href="{% url 'faculty:login' %}" class="btn">Log In</a>
    <a href="{% url 'faculty:register' %}" class="btn">Sign Up</a>
  </div>

  <!-- Inline CSS styles -->
  <style>
    .buttons {
      display: flex;
      justify-content: center;
      margin-top: 20px;
    }

    .btn {
      display: inline-block;
      padding: 10px 20px;
      margin: 0 10px;
      text-decoration: none;
      color: #fff;
      background-color: #573b8a;
      border-radius: 5px;
      font-size: 16px;
      font-weight: bold;
      transition: background-color 0.3s;
    }

    .btn:hover {
      background-color: #6d44b8;
    }
  </style>
{% endblock %}
