<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Homework Details</title>
</head>
<body>
    <h2>{{ homework.title }}</h2>
    <p>{{ homework.description }}</p>
    <p>Due Date: {{ homework.due_date }}</p>

    {% if request.user.is_lecturer %}
        <form method="post">
            {% csrf_token %}
            {{ homework_form.as_p }}
            <button type="submit">Update</button>
        </form>
    {% elif request.user.is_student %}
        {% if student_homework %}
            <p>Your Submission:</p>
            <p>Homework URL: {{ student_homework.homework_url }}</p>
            <p>Homework Text: {{ student_homework.homework_text }}</p>
            <form method="post">
                {% csrf_token %}
                {{ form.as_p }}
                <button type="submit">Update Submission</button>
            </form>
        {% else %}
            <form method="post">
                {% csrf_token %}
                {{ form.as_p }}
                <button type="submit">Submit Homework</button>
            </form>
        {% endif %}
    {% endif %}
    {% for homework in homeworks %}
        <a href="{% url 'faculty:homework_detail' classroom_id=classroom.id homework_id=homework.id %}">View homework {{ homework.id }}</a>
    {% endfor %}
<br>
<a href="{% url 'faculty:classroom_view' classroom.id %}">View Classroom</a>
</body>
</html>